/* ------------------- */
/*    HOME SECTION     */
/* ------------------- */
.section-hero {
  min-height: calc(100vh - 96px);
  position: relative;

  & {
    margin-bottom: 10rem;
  }

  & > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-inline: 0;
  }

  &__hero-text-container {
    padding: 1.5rem;
    margin-bottom: 2.5rem;
  }

  &__hero-text {
    font-size: 0.85rem;
    line-height: 1.5;
    max-width: 360px;
    margin-inline: auto;

    &::after {
      content: "";
      display: block;
      width: 2.5rem;
      height: 2px;
      margin-inline: auto;
      margin-top: 1.5rem;
    }
  }

  &__hero-img {
    position: fixed;
    bottom: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;

    &-container {
      position: relative;
    }
  }
}

.section-works-home {
  margin-bottom: 10rem;
  z-index: 5;
  padding: 4rem 0;
  position: relative;

  &__filler {
    text-align: center;
    margin-bottom: 10rem;
    max-width: 650px;
    margin-inline: auto;

    &-title {
      font-size: 1.15rem;
      line-height: 1.5;
      max-width: 580px;

      @media (max-width: 1100px) {
        font-size: 1rem;
      }
    }
  }

  &__works-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-bottom: 3rem;

    @media (max-width: 1100px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }

    @media (max-width: 1100px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
    }
  }

  &__works-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &-img {
      margin-bottom: 1rem;
      box-shadow: 0 0.15rem 0.3rem rgb(0 0 0 / 35%);
      border-radius: 2px;
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-6px);
        cursor: pointer;
      }
    }
  }
}

.section-about-home {
  margin-bottom: 10rem;
  z-index: 6;
  padding: 4rem 0;
  position: relative;

  &__about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 520px;
    margin-inline: auto;

    &-title {
      font-weight: 600;
      font-size: 18px;
    }

    &-text {
      font-size: 14px;
      text-align: center;
    }

    &-text-smaller {
      font-size: 12.5px;
      text-align: center;
    }
  }
}

/* ------------------- */
/*    WORKS SECTION    */
/* ------------------- */

.section-works {
  margin-top: 96px;
  padding: 3rem 0;

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;

    &-small {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 3rem;
      text-align: center;
    }

    &-container {
      text-align: center;
    }
  }

  &__text {
    font-style: italic;
    margin-bottom: 3rem;
    max-width: 600px;
    margin-inline: auto;
  }

  &__video {
    border-radius: 4px;
    box-shadow: 0 0.15rem 0.3rem rgb(0 0 0 / 35%);
    max-width: 100%;
    height: auto;

    @media (max-width: 1010px) {
      box-shadow: none;
    }

    &-container {
      display: grid;
      place-items: center;
      margin-bottom: 6rem;
    }
  }

  &__small-sculptures-img-container {
    display: grid;
    place-items: center;
    margin-bottom: 3rem;
  }

  &__small-sculptures-img {
    border-radius: 2px;
    box-shadow: 0 0.15rem 0.3rem rgb(0 0 0 / 35%);
  }

  &__works {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    animation: gallerySlide 2s;
    margin-bottom: 6rem;

    @media (max-width: 950px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__works-filters {
    display: flex;
    gap: 1.5rem;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;

    @media (max-width: 700px) {
      gap: 1rem;
    }

    & > * {
      display: inline-block;
    }
  }

  &__works-card {
    // display: none;
    max-width: 450px;
    font-weight: 300;

    &-img {
      margin-bottom: 1.5rem;
      box-shadow: 0 0.15rem 0.3rem rgb(0 0 0 / 35%);
      transform: scale(1);
      transition: all 0.3s;
      border-radius: 2px;
    }

    &:hover &-img {
      box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 35%);
      transform: scale(1.01);
    }

    &-title {
      font-size: 1.15rem;
      letter-spacing: 1px;
      color: #1d211d;
      margin-bottom: 1.5rem;
    }

    &-text {
      font-size: 0.9rem;
    }
  }

  &__works-filters-btn {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 0.65rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: transparent;
    outline: none;
  }
}

@keyframes gallerySlide {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* ------------------- */
/*    ABOUT SECTION    */
/* ------------------- */

.section-about {
  margin-top: 96px;
  min-height: calc(100vh - 181px);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1000px) {
    padding: 2rem 0;
  }

  &__about-content {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 3rem auto;

    @media (max-width: 1200px) {
      width: 100%;
    }

    @media (max-width: 1000px) {
      gap: 2rem;
      flex-direction: column;
    }

    &-img {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    &-text-container {
      max-width: 600px;
      margin-left: auto;

      &-title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        letter-spacing: 2px;

        @media (max-width: 1000px) {
          text-align: center;
        }

        @media (max-width: 500px) {
          font-size: 1.5rem;
        }
      }

      &-text {
        font-weight: 300;
      }
    }
  }
}

html {
  visibility: visible;
  opacity: 1;
}
